.promo-page {
  position: relative;
  color: #ffffff;
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:after {
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/images/bg/bg-1920.png");
    opacity: 0.3;
    @media all and (max-width: 1199px) {
      background-image: url("../../assets/images/bg/bg-1199.png");
    }
    @media all and (max-width: 991px) {
      background-image: url("../../assets/images/bg/bg-991.png");
    }
    @media all and (max-width: 767px) {
      background-image: url("../../assets/images/bg/bg-767.png");
    }
    @media all and (max-width: 575px) {
      background-image: url("../../assets/images/bg/bg-575.png");
    }
  }
  &:before {
    z-index: -2;
    background-image: linear-gradient(180deg, #0c1132 0%, #070a1a 100%);
  }
}

.promo-page-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo-page__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
  text-align: center;
  @media all and (max-width: 575px) {
    font-size: 28px;
  }
}

.promo-page__description {
  max-width: 920px;
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  @media all and (max-width: 575px) {
    font-size: 16px;
  }
  p {
    margin-top: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
