.news-about-logo__items {
  display: flex;
  flex-wrap: wrap;
  @media all and (max-width: 575px) {
    flex-direction: column;
  }
}

.news-about-logo__items-item {
  box-sizing: border-box;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  @media all and (max-width: 991px) {
    flex-basis: 50%;
    padding: 50px 25px;
  }
  @media all and (max-width: 575px) {
    padding-left: 0;
    padding-right: 0;
  }
}
