@import "../../../assets/styles/variables";

.card-system {
  box-sizing: border-box;
  margin: 10px;
  padding: 30px 15px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  width: calc(100% / 4 - 20px);
  transition: 0.5s;
  @media all and (max-width: 1199px) {
    width: calc(100% / 3 - 20px);
  }
  @media all and (max-width: 767px) {
    width: calc(100% / 2 - 20px);
  }
  @media all and (max-width: 575px) {
    width: calc(100% - 20px);
    max-width: 350px;
  }

  &:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  }

  img {
    display: block;
    margin: 0 auto;
  }

  h4 {
    color: $main-black;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
  }

  ul {
    margin: 0;
    padding-left: 30px;
    font-size: 22px;
    color: #1053ff;

    li p {
      color: $main-black;
      font-size: 16px;
    }
  }
}
