@import "../../assets/styles/variables";

.radio-container {
  position: relative;
  display: inline-block;

  .radio-button {
    opacity: 0;
    z-index: 1;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 10px;

    & ~ label {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
      border-color: #bebebe;
      border-width: 2px;
      border-style: solid;
    }

    & ~ label:hover {
      background: #bebebe;

      &::after {
        content: "";
        display: block;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin: 2px;
        background: #eeeeee;
      }
    }

    &:checked ~ label {
      background: white;
      border-color: $main-blue;

      &::after {
        content: "";
        display: block;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin: 2px;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.1);
        background: $main-blue;
      }
    }
  }
}
