$gradiend: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%);
$gradiendReverse: linear-gradient(90deg, #1053ff 0%, #0099ff 78.65%);
$gradiendBorder: radial-gradient(circle at top left, #f00, #3020ff);

$light-blue: #0099ff;

.button {
  border-radius: 8px;
  padding: 8px 35px;
  cursor: pointer;
  transition: 1s;
  border-width: 2px;
  border-color: $light-blue;
  outline: none;

  &.button-default {
    background: $gradiend;
    color: white;

    &:hover:not(.transparent) {
      background: $gradiendReverse;
    }
  }

  &.transparent {
    color: $light-blue;
    background: transparent;
    border-color: $light-blue;

    &:hover:not(&.white) {
      background: #0099ff1f;
    }

    &.white {
      border-color: white;
      color: white;

      &:hover {
        background: #ffffff47;
      }
    }
  }
}
