.c-input__label {
  display: block;
  margin-bottom: 30px;
}

.c-input__label-text {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.c-input__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.18);
  border: none;
  padding: 15px 13px;
  border-radius: 8px;
  font-size: 14px;
  color: #515151;
  &::placeholder {
    color: rgba(81, 81, 81, 0.4);
  }
}

textarea.c-input__input {
  resize: none;
  flex-grow: 1;
}
