.event-news__items {
  display: flex;
  flex-wrap: wrap;
  margin: -20px -15px 60px;
  &:last-child {
    margin-bottom: 0;
  }
}

.event-calendar__items-title-wrap {
  overflow: hidden;
  @media all and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
}

.event-calendar__items-title {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  font-size: 28px;
  font-weight: bold;
  @media all and (max-width: 767px) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media all and (max-width: 575px) {
    font-size: 22px;
  }
  &:before {
    content: "";
    position: absolute;
    left: calc(100% + 25px);
    top: calc(50% - 1px);
    height: 2px;
    width: 1000px;
    background-image: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%);
    @media all and (max-width: 767px) {
      content: none;
    }
  }
}

.event-news__items-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 12 * 4 - 30px);
  margin: 20px 15px;
  box-shadow: 0 30px 60px rgba(138, 149, 158, 0.2);
  border-radius: 8px;
  overflow: hidden;
  @media all and (max-width: 991px) {
    width: calc(100% / 12 * 6 - 30px);
  }
  @media all and (max-width: 767px) {
    width: calc(100% - 30px);
  }
  &.dark {
    background-color: #000932;
    .event-news__items-item__text-title {
      color: #ffffff;
    }
    .event-news__items-item__text-bottom__date {
      color: rgba(#ffffff, 0.5);
    }
  }
}

.event-news__items-item__type {
  position: absolute;
  z-index: 1;
  padding: 0 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#0099ff, 0.5);
  border-bottom-right-radius: 8px;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: rgba(#0099ff, 1);
  }
}

.event-news__items-item__img-wrap {
  position: relative;
  height: 270px;
  overflow: hidden;
  @media all and (max-width: 767px) {
    height: 330px;
  }
  @media all and (max-width: 575px) {
    height: 270px;
  }
}

.event-news__items-item__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.event-news__items-item__text-title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.event-news__items-item__text-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-bottom: 5px;
  color: rgba(81, 81, 81, 0.3);
}

.event-news__items-item__text-bottom__date {
  margin: 5px 5px 5px 0;
}
