.promo {
  background: url("../../../../assets/images/bg_2.jpg") no-repeat center;
  background-size: cover;
  color: #ffffff;
}

.promo-inner {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 980px) {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 75px;
  }
  @media all and (max-width: 575px) {
    height: 275px;
  }
}
