.event-calendar {
  color: #515151;
}

.event-calendar__items-title-wrap {
  overflow: hidden;
  @media all and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  @media all and (max-width: 575px) {
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.event-calendar__items-title {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  font-size: 28px;
  font-weight: bold;
  @media all and (max-width: 767px) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media all and (max-width: 575px) {
    margin-bottom: 15px;
    font-size: 22px;
  }
  &:before {
    content: "";
    position: absolute;
    left: calc(100% + 25px);
    top: calc(50% - 1px);
    height: 2px;
    width: 1000px;
    background-image: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%);
    @media all and (max-width: 767px) {
      content: none;
    }
  }
}

.event-calendar__items-tabs {
  display: flex;
  flex-wrap: wrap;
}

.event-calendar__items-tabs-tab {
  @media all and (max-width: 575px) {
    font-size: 14px;
  }
  &:first-child {
    margin-right: 25px;
  }
  &.active {
    font-weight: bold;
  }
  &:focus {
    outline: none;
  }
}
