.tarifs-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -30px -15px;
  color: #515151;

  //darkTheme
  &.dark {
    color: #ffffff;
    .tarifs-items-item {
      background-color: #000932;
    }
  }
}

.tarifs-items-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2 - 30px);
  margin: 30px 15px;
  background-color: #ffffff;
  box-shadow: 0 30px 60px rgba(138, 149, 158, 0.2);
  border-radius: 8px;
  @media all and (max-width: 767px) {
    width: calc(100% - 30px);
  }
}

.tarifs-items-item__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px;
  border-bottom: 1px solid rgba(81, 81, 81, 0.2);
}

.tarifs-items-item__header__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.tarifs-items-item__header__price {
  margin-bottom: 20px;
}

.tarifs-items-item__header__price__big {
  font-size: 40px;
  font-weight: bold;
}

.tarifs-items-item__header__fee {
  opacity: 0.4;
}

.tarifs-items-item__list {
  padding: 30px 20px;
}

.tarifs-items-item__list-item {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.57;
  &:last-child {
    margin-bottom: 0;
  }
}

.tarifs-items-item__list-item__icon {
  display: inline-block;
  margin-right: 8px;
  color: #028fff;
}

.tarifs-items-item__bottom {
  margin: auto 55px 40px;
}
