.map__img-wrap {
  position: relative;
  @media all and (max-width: 575px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  @media all and (max-width: 389px) {
    width: 290px;
  }
}

.map__img__points {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

$offset-x: 405;
$offset-y: 378;
.map__img__points__item {
  display: inline-block;
  position: absolute;
  &.item-1 {
    left: #{956 - $offset-x}px;
    top: #{554 - $offset-y}px;
    @media all and (max-width: 1199px) {
      left: #{881 - $offset-x}px;
      top: #{530 - $offset-y}px;
    }
    @media all and (max-width: 991px) {
      left: #{762 - $offset-x}px;
      top: #{492 - $offset-y}px;
    }
    @media all and (max-width: 767px) {
      left: #{673 - $offset-x}px;
      top: #{464 - $offset-y}px;
    }
    @media all and (max-width: 575px) {
      left: #{584 - $offset-x}px;
      top: #{435 - $offset-y}px;
    }
    @media all and (max-width: 389px) {
      left: #{549 - $offset-x}px;
      top: #{424 - $offset-y}px;
    }
  }
  &.item-2 {
    left: #{944 - $offset-x}px;
    top: #{605 - $offset-y}px;
    @media all and (max-width: 1199px) {
      left: #{871 - $offset-x}px;
      top: #{574 - $offset-y}px;
    }
    @media all and (max-width: 991px) {
      left: #{755 - $offset-x}px;
      top: #{525 - $offset-y}px;
    }
    @media all and (max-width: 767px) {
      left: #{667 - $offset-x}px;
      top: #{488 - $offset-y}px;
    }
    @media all and (max-width: 575px) {
      left: #{580 - $offset-x}px;
      top: #{452 - $offset-y}px;
    }
    @media all and (max-width: 389px) {
      left: #{546 - $offset-x}px;
      top: #{437 - $offset-y}px;
    }
  }
  &.item-3 {
    left: #{1001 - $offset-x}px;
    top: #{535 - $offset-y}px;
    @media all and (max-width: 1199px) {
      left: #{920 - $offset-x}px;
      top: #{514 - $offset-y}px;
    }
    @media all and (max-width: 991px) {
      left: #{791 - $offset-x}px;
      top: #{480 - $offset-y}px;
    }
    @media all and (max-width: 767px) {
      left: #{695 - $offset-x}px;
      top: #{454 - $offset-y}px;
    }
    @media all and (max-width: 575px) {
      left: #{598 - $offset-x}px;
      top: #{429 - $offset-y}px;
    }
    @media all and (max-width: 389px) {
      left: #{561 - $offset-x}px;
      top: #{419 - $offset-y}px;
    }
  }
  &.item-4 {
    left: #{1009 - $offset-x}px;
    top: #{614 - $offset-y}px;
    @media all and (max-width: 1199px) {
      left: #{927 - $offset-x}px;
      top: #{582 - $offset-y}px;
    }
    @media all and (max-width: 991px) {
      left: #{797 - $offset-x}px;
      top: #{531 - $offset-y}px;
    }
    @media all and (max-width: 767px) {
      left: #{699 - $offset-x}px;
      top: #{493 - $offset-y}px;
    }
    @media all and (max-width: 575px) {
      left: #{601 - $offset-x}px;
      top: #{454 - $offset-y}px;
    }
    @media all and (max-width: 389px) {
      left: #{563 - $offset-x}px;
      top: #{440 - $offset-y}px;
    }
  }

  &.top {
    .map__img__points__item__line {
      top: -20px;
      @media all and (max-width: 767px) {
        top: -6px;
      }
    }
    .map__img__points__item__card {
      top: -67px;
      @media all and (max-width: 767px) {
        top: -28px;
      }
    }
  }
  &.bottom {
    .map__img__points__item__line {
      top: 28px;
      @media all and (max-width: 767px) {
        top: 8px;
      }
    }
    .map__img__points__item__card {
      top: 26px;
      @media all and (max-width: 767px) {
        top: 2px;
      }
    }
  }
  &.left {
    .map__img__points__item__line {
      right: -4px;
      @media all and (max-width: 767px) {
        right: -2px;
      }
    }
    .map__img__points__item__card {
      left: -190px;
      @media all and (max-width: 767px) {
        left: -112px;
      }
    }
  }
  &.right {
    .map__img__points__item__line {
      right: -52px;
      @media all and (max-width: 767px) {
        right: -16px;
      }
    }
    .map__img__points__item__card {
      left: 52px;
      @media all and (max-width: 767px) {
        left: 16px;
      }
    }
  }
  &.line-up {
    .map__img__points__item__line {
      transform: rotate(45deg);
    }
  }
  &.line-down {
    .map__img__points__item__line {
      transform: rotate(-45deg);
    }
  }
}

.map__img__points__item__point {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  background-image: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%);
  border-radius: 50%;
  background-color: transparent;
  @media all and (max-width: 767px) {
    width: 3px;
    height: 3px;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  &:before {
    width: 25px;
    height: 25px;
    border: 2px solid #1053ff;
    @media all and (max-width: 991px) {
      width: 16px;
      height: 16px;
    }
    @media all and (max-width: 767px) {
      width: 8px;
      height: 8px;
      border-width: 1px;
    }
  }
  &:after {
    width: 34px;
    height: 34px;
    border: 1px solid #1053ff;
    @media all and (max-width: 991px) {
      width: 22px;
      height: 22px;
    }
    @media all and (max-width: 767px) {
      width: 11px;
      height: 11px;
    }
  }
}

.map__img__points__item__line {
  position: absolute;
  z-index: -1;
  width: 65px;
  height: 1px;
  background-image: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%);
  @media all and (max-width: 767px) {
    width: 20px;
  }
}

.map__img__points__item__card {
  position: absolute;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  @media all and (max-width: 767px) {
    width: 100px;
    height: 28px;
    font-size: 14px;
  }
}

.map__img__points__item__card-text {
  padding-bottom: 1px !important;
}
