.participants {
  position: relative;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../../../assets/images/bg/bg-1920.png");
  @media all and (max-width: 1199px) {
    background-image: url("../../../../assets/images/bg/bg-1199.png");
  }
  @media all and (max-width: 991px) {
    background-image: url("../../../../assets/images/bg/bg-991.png");
  }
  @media all and (max-width: 767px) {
    background-image: url("../../../../assets/images/bg/bg-767.png");
  }
  @media all and (max-width: 575px) {
    background-image: url("../../../../assets/images/bg/bg-575.png");
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(180deg, #0c1132 0%, #070a1a 100%);
  }
}
