.card-info {
  display: flex;
  min-height: 240px;
  background-color: #00153a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.1);
  @media all and (max-width: 991px) {
    min-height: auto;
    flex-direction: column;
    margin-top: 30px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card-info-image-wrap {
  position: relative;
  width: 350px;
  min-height: 275px;
  @media all and (max-width: 991px) {
    width: 100%;
  }
}

.card-info-content {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
}

.content-text {
  line-height: 34px;
  color: rgba(255, 255, 255, 0.5);
}
