.article {
  padding-top: 0 !important;
  color: #515151;
}

.article-img-head {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.article-inner {
  img {
    display: block;
    margin: 1em auto;
    max-width: 100%;
    height: auto;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
  }
  a {
    color: #0099ff;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    &:hover {
      opacity: 0.7;
    }
  }
}
