.cards-about-items {
  position: relative;
  top: 160px;
  margin-top: -160px;
  margin-bottom: 160px;
  @media all and (max-width: 991px) {
    top: 0;
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.cards-about-items-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  @media all and (max-width: 991px) {
    flex-direction: column;
    width: calc(100% / 2 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  @media all and (max-width: 767px) {
    width: calc(100% - 30px);
  }
  @media all and (max-width: 575px) {
    margin-bottom: 40px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.cards-about-items-item__left {
  position: relative;
  width: 350px;
  @media all and (max-width: 991px) {
    width: auto;
  }
}

.cards-about-items-item__left__img-wrap {
  position: relative;
  height: 277px;
  overflow: hidden;
}

.cards-about-items-item__text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 350px);
  padding: 30px;
  background-color: #00153a;
  @media all and (max-width: 991px) {
    width: auto;
  }
  @media all and (max-width: 575px) {
    padding: 40px 20px;
  }
}

.cards-about-items-item__text__title {
  font-size: 34px;
  font-weight: bold;
  word-break: break-word;
  @media all and (max-width: 991px) {
    font-size: 30px;
  }
  @media all and (max-width: 575px) {
    font-size: 28px;
  }
}

.cards-about-items-item__text__description {
  margin-top: 20px;
  padding-right: 50px;
  font-size: 18px;
  line-height: 1.89;
  color: rgba(255, 255, 255, 0.5);
  @media all and (max-width: 575px) {
    font-size: 16px;
    line-height: 1.75;
    padding-right: 0;
  }
}
