.submit-button {
  background: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%);
  border: none;
  border-radius: 8px;
  padding: 22px 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  transition: opacity 0.2s ease-out;
  @media all and (max-width: 575px) {
    font-size: 22px;
  }
  &:hover {
    opacity: 0.7;
  }
}
