.believe {
  background-image: linear-gradient(180deg, #0c1132 0%, #070a1a 100%);
  color: #ffffff;
}

.believe__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media all and (max-width: 991px) {
    flex-direction: column;
  }
}

.believe__left {
  flex-basis: 40%;
  @media all and (max-width: 991px) {
    margin-bottom: 40px;
  }
}

.believe__right {
  flex-basis: 50%;
  margin-top: -60px;
  margin-bottom: 60px;
  @media all and (max-width: 991px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.believe__left-title {
  text-align: left !important;
}

.believe__left__description {
  font-size: 20px;
  line-height: 1.7;
  @media all and (max-width: 991px) {
    text-align: center;
  }
  @media all and (max-width: 575px) {
    font-size: 16px;
  }
  p {
    margin-top: 0;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
