.news-about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -15px 0;
  @media all and (max-width: 767px) {
    flex-direction: column;
  }
}

.news-about__items-item {
  box-sizing: border-box;
  flex-basis: 48.5%;
  margin: 15px 0;
  padding: 40px 30px 30px;
  background-color: #ffffff;
  box-shadow: 0 30px 60px rgba(138, 149, 158, 0.2);
  border-radius: 8px;
  color: #515151;
  @media all and (max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.news-about__items-item__img-wrap {
  margin-bottom: 40px;
  text-align: center;
}

.news-about__items-item__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

.news-about__items-item__subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  @media all and (max-width: 575px) {
    font-size: 16px;
  }
}

.news-about__items-item__desctiption {
  line-height: 2.12;
  @media all and (max-width: 575px) {
    line-height: 1.75;
  }
}
