.digital__items {
  @media all and (max-width: 991px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.digital__items-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  box-shadow: 0 30px 60px rgba(138, 149, 158, 0.2);
  border-radius: 8px;
  overflow: hidden;
  @media all and (max-width: 991px) {
    flex-basis: 48%;
    flex-direction: column;
    margin-bottom: 0;
  }
  @media all and (max-width: 767px) {
    flex-basis: auto;
    margin-bottom: 40px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.digital__items-item__img-wrap {
  position: relative;
  width: 350px;
  min-height: 300px;
  @media all and (max-width: 767px) {
    width: auto;
  }
}

.digital__items-item__text {
  box-sizing: border-box;
  flex-basis: calc(100% - 350px);
  padding: 35px 30px;
  font-size: 20px;
  line-height: 1.7;
  color: #515151;
  @media all and (max-width: 575px) {
    padding: 30px 20px;
    font-size: 16px;
  }
}
