.rules__items {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.rules__items-item {
  width: calc(100% / 3 - 30px);
  margin: 15px;
  background: #ffffff;
  box-shadow: 0 30px 60px rgba(138, 149, 158, 0.2);
  border-radius: 8px;
  overflow: hidden;
  @media all and (max-width: 991px) {
    width: calc(100% - 30px);
  }
}

.rules__items-item__img-wrap {
  position: relative;
  height: 200px;
  @media all and (max-width: 991px) {
    height: 270px;
  }
  @media all and (max-width: 767px) {
    height: 200px;
  }
}

.rules__items-item__text {
  padding: 40px 15px;
}

.rules__items-item__text__title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.rules__items-item__text__description {
  font-size: 16px;
  line-height: 2.12;
  color: #515151;
}
