@import "../../assets/styles/variables";

.main-about {
  position: relative;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/bg/bg-1920.png");
  background-repeat: no-repeat;
  background-size: cover;
  @media all and (max-width: 1199px) {
    background-image: url("../../assets/images/bg/bg-1199.png");
  }
  @media all and (max-width: 991px) {
    background-image: url("../../assets/images/bg/bg-991.png");
  }
  @media all and (max-width: 767px) {
    background-image: url("../../assets/images/bg/bg-767.png");
  }
  @media all and (max-width: 575px) {
    background-image: url("../../assets/images/bg/bg-575.png");
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(180deg, #0c1132 0%, #070a1a 100%);
  }
}

.list-about-cards {
  margin-top: 40px;
  @media all and (max-width: 991px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-ecosystem {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  padding-bottom: 100px;
  background: linear-gradient(
    90deg,
    rgba(0, 153, 255, 0.04) -5.85%,
    rgba(16, 83, 255, 0.04) 82.75%
  );
  @media all and (max-width: 991px) {
    padding-top: 100px;
  }
}

.secton-subtitle {
  text-align: center;
  color: #515151;
  font-size: 20px;
  line-height: 34px;
  max-width: 750px;
  margin: 0 auto;
}

.list-cards-system {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
}

.main-news {
  background-image: url("../../assets/images/bg_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.list-cards-news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card-news {
    margin: 10px;
  }
}

.main-solution {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background: linear-gradient(180deg, #0c1132 0%, #070a1a 100%);

  .solution-buttons-group {
    margin-top: 50px;
  }
}

.text-gradient {
  background: $gradiend;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
}

.solution-text {
  color: white;
  line-height: 35px;
  margin-top: 40px;
}

.main-map {
  display: flex;
  padding: 120px 0;
  justify-content: center;
}

.media-container {
  @media all and (max-width: 991px) {
    flex-direction: column-reverse;
    img {
      margin-bottom: 30px;
    }
  }
}

.media-container__left {
  box-sizing: border-box;
  width: calc(100% - 540px);
  padding-right: 50px;
  @media all and (max-width: 991px) {
    width: 100%;
  }
}

.media-container__right {
  width: 540px;
  @media all and (max-width: 991px) {
    width: auto;
  }
}

@media screen and (max-width: 410px) {
  .main-solution {
    padding-top: 50px;
  }

  .section {
    .secton-subtitle {
      display: none;
    }
  }

  .solution-buttons-group {
    button:nth-child(n + 2) {
      margin-left: 0 !important;
      margin-top: 10px;
      display: block;
    }
  }
}
