.search-input-container {
  position: relative;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  margin: 0 50px;

  label {
    display: flex;
    align-items: center;
  }

  input::-webkit-input-placeholder {
    color: #a5a5a5;
  }

  .search-input_search {
    width: 16px;
    height: 16px;
    padding: 15px 10px 15px 15px;
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
  }
}
