.cards-info-items {
  position: relative;
  top: 160px;
  margin-top: -160px;
  margin-bottom: 160px;
  @media all and (max-width: 991px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.cards-info-items-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  @media all and (max-width: 991px) {
    flex-direction: column;
    width: calc(100% / 2 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  @media all and (max-width: 767px) {
    width: calc(100% - 30px);
  }
}

.cards-info-items-item__left {
  position: relative;
  width: 350px;
  @media all and (max-width: 991px) {
    width: auto;
  }
}

.cards-info-items-item__left__img-wrap {
  position: relative;
  min-height: 366px;
  height: 100%;
  overflow: hidden;
}

.cards-info-items-item__left__date {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 11px 0;
  background-image: linear-gradient(
    90deg,
    rgba(0, 153, 255, 0.7) 0%,
    rgba(16, 83, 255, 0.7) 78.65%
  );
  text-align: center;
  @media all and (max-width: 575px) {
    font-size: 14px;
  }
}

.cards-info-items-item__text {
  box-sizing: border-box;
  width: calc(100% - 350px);
  padding: 30px;
  background-color: #00153a;
  @media all and (max-width: 991px) {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  @media all and (max-width: 575px) {
    padding: 20px;
    padding-bottom: 40px;
  }
}

.cards-info-items-item__text__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  @media all and (max-width: 575px) {
    font-size: 20px;
  }
}

.cards-info-items-item__text__description {
  margin-bottom: 20px;
  padding-right: 50px;
  font-size: 18px;
  line-height: 1.89;
  color: rgba(255, 255, 255, 0.5);
  @media all and (max-width: 575px) {
    font-size: 16px;
    line-height: 1.75;
    padding-right: 0;
  }
}

.cards-info-items-item__text__btn-wrap {
  @media all and (max-width: 991px) {
    margin-top: auto;
  }
}
