.button-more {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%) no-repeat;
    opacity: 0;
    transition: all 0.2s ease-out;
  }

  //center
  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  //size-lg
  &.lg {
    max-width: 255px;
    height: 60px;
    font-size: 18px;
  }

  //size-md
  &.md {
    max-width: 160px;
  }

  //size-md
  &.sm {
    max-width: 130px;
  }

  //grey
  &.grey {
    color: rgba(81, 81, 81, 0.3);
    border-color: rgba(81, 81, 81, 0.3);
    &:hover {
      border-color: transparent;
      color: #ffffff;
      &:before {
        opacity: 1;
      }
      .arrow {
        fill: #ffffff;
      }
    }
    .arrow {
      fill: rgba(81, 81, 81, 0.3);
    }
  }

  //white
  &.white {
    color: #ffffff;
    border-color: #ffffff;
    &:hover {
      border-color: transparent;
      background: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%) no-repeat;
    }
    .arrow {
      fill: #ffffff;
    }
  }

  //blue
  &.blue {
    color: #ffffff;
    border-color: transparent;
    background: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%) no-repeat;
    &:hover {
      color: #1053ff;
      border-color: #1053ff;
      background: transparent;
    }
    &.hover-white {
      &:hover {
        color: #ffffff;
        border-color: #ffffff;
        background: transparent;
      }
    }
    .arrow {
      fill: #ffffff;
    }
  }
}
