.map {
  padding-top: 0 !important;
}

.map__info {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 45px;
}

.map__info-item {
  box-sizing: border-box;
  width: calc(100% / 3 - 30px);
  margin: 15px;
  padding: 40px 30px;
  background-color: #ffffff;
  box-shadow: 0 30px 60px rgba(138, 149, 158, 0.2);
  border-radius: 8px;
  @media all and (max-width: 767px) {
    width: calc(100% - 30px);
  }
}

.map__info-item__country {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.map__info-item-text {
  font-size: 14px;
  line-height: 1.7;
  p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.map__info-item__head {
  font-weight: bold;
}

.map__info-item__email {
  position: relative;
  color: #0099ff;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 0.7;
  }
}

.map__info-item__tel {
  color: inherit;
  text-decoration: inherit;
  &:not(:last-child) {
    &:after {
      content: "; ";
    }
  }
}
