.breadcrumbs {
  padding: 80px 0;
  @media all and (max-width: 980px) {
    padding-top: 154px;
  }
  @media all and (max-width: 575px) {
    padding-top: 134px;
    padding-bottom: 60px;
  }
}

.breadcrumbs__content {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__content-item {
  padding-bottom: 10px;
  font-size: 14px;
  &:after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 11px;
    margin: 0 12px;
    background: url("./assets/arrow.svg") no-repeat center;
  }
  &:last-child {
    color: #515151;
    &:after {
      content: none;
    }
  }
}

.breadcrumbs__content-item-link {
  color: inherit;
  text-decoration: inherit;
}

.breadcrumbs__title {
  font-size: 48px;
  font-weight: bold;
  @media all and (max-width: 575px) {
    font-size: 28px;
  }
}
