.description-text {
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 1.7;
  @media all and (max-width: 575px) {
    font-size: 16px;
    text-align: center;
  }
  p {
    margin-top: 0;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
