.main-header {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("./assets/bg-1920.png");
  background-size: cover;
  background-repeat: no-repeat;
  @media all and (max-width: 1199px) {
    background-image: url("./assets/bg-1199.png");
  }
  @media all and (max-width: 991px) {
    padding-top: 100px;
    background-image: url("./assets/bg-991.png");
  }
  @media all and (max-width: 767px) {
    background-image: url("./assets/bg-767.png");
  }
  @media all and (max-width: 575px) {
    background-image: url("./assets/bg-575.png");
  }
}

.slider-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 991px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* ======================= LEFT ============================== */

.slider-content__left {
  flex-basis: 50%;
  @media screen and (max-width: 991px) {
    margin-top: 20px;
  }
}

.header-title {
  @media screen and (max-width: 991px) {
    text-align: center;
  }
  @media screen and (max-width: 575px) {
    font-size: 34px;
    line-height: 1.3;
  }
}

.header-paragraph {
  @media screen and (max-width: 991px) {
    text-align: center;
  }
}

.buttons-group-slide {
  @media screen and (max-width: 991px) {
    display: flex;
    justify-content: center;
  }
}

/* ======================= RIGHT ============================== */

.slider-content__right {
  flex-basis: 48%;
}

.video-block-img-play {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -75px;
  @media all and (max-width: 470px) {
    transform: scale(0.7);
  }
}

.video-block-img-wrap {
  position: relative;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}
