$main-bg: #f4f4f4;
$second-bg: #ebebeb;
$main-blue: #1771f1;
$main-green: #21ba45;
$error-red: #ff0000;
$main-black: #515151;
$light-gray: #e5e5e5;
$black-bg: #0c1132;

$gradiend: linear-gradient(90deg, #0099ff 0%, #1053ff 78.65%);
$gradiendReverse: linear-gradient(90deg, #1053ff 0%, #0099ff 78.65%);
