.blog-items {
  display: flex;
  flex-wrap: wrap;
  margin: -20px -15px;
}

.blog-items-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 12 * 4 - 30px);
  margin: 20px 15px;
  box-shadow: 0 30px 60px rgba(138, 149, 158, 0.2);
  border-radius: 8px;
  overflow: hidden;
  @media all and (max-width: 991px) {
    width: calc(100% / 12 * 6 - 30px);
  }
  @media all and (max-width: 575px) {
    width: calc(100% - 30px);
  }
}

.blog-items-item__img-wrap {
  position: relative;
  height: 270px;
  @media all and (max-width: 767px) {
    height: 200px;
  }
  @media all and (max-width: 575px) {
    height: 270px;
  }
}

.blog-items-item__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.blog-items-item__text__date {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.blog-items-item__text__title {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
}

.blog-items-item__text__description {
  margin-bottom: 20px;
  line-height: 1.62;
}

.blog-items-item__text__more {
  position: relative;
  display: inline-block;
  margin-top: auto;
  margin-bottom: 15px;
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 0.8;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: calc(100% - 20px);
    background-color: #515151;
  }
}
