@import "../../../assets/styles/variables";

.arrow-button {
  border-radius: 50%;
  border: 1px solid $light-gray;
  color: rgba(81, 81, 81, 0.3);
  width: 32px;
  height: 32px;
  padding: 8px;

  outline: none;
  cursor: pointer;

  img {
    width: 9px;
  }
}
