.slider {
  .slide {
    width: 100%;
    height: 100%;

    animation-name: showSlide;
    animation-duration: 0.8s;
  }
}

.slider-footer {
  margin-top: 80px;
  align-items: center;
  @media screen and (max-width: 991px) {
    justify-content: center;
  }
  @media screen and (max-width: 575px) {
    margin-top: 20px;
  }
}

.radio-slider {
  margin: 0 auto;
  @media screen and (max-width: 991px) {
    margin: 0;
  }
}

@keyframes showSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.arrow-buttons {
  @media screen and (max-width: 991px) {
    display: none;
  }
}
